<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/master.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Agregator Recenzji Gier{% endblock %}</title>
</head>
<body>
    <nav>
        <div>
            <a href="{% url 'mainpage' %}"><img src = "{% static '/images/logo.png' %}"></a>
        </div>
        <div>
            <a href="{% url 'game_list' %}">Lista gier</a>
            {% if user.is_authenticated %}
                <span>Witaj, {{ user.username }}</span>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Wyloguj</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Zaloguj</a>
                <a href="{% url 'register' %}">Zarejestruj się</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
